@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: alfa-slab-one, serif;
}

.lato {
  font-family: lato, sans-serif;
  font-weight: 400;
}

h1, label, input, a {
  font-family: lato, sans-serif;
  font-weight: 100;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

/*****************************/

.overlay {
  width: 400px;
  height: 400px;
  border: 6px solid rgb(217, 244, 250);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: rgba(217,244,250,0.2);
  display: block;
  position: absolute;
  top: 10%;
  left: 60%;
}

.overlay h1 {
  font-size: 3em;
  text-align: center;
  padding-top: 100px;
  color: #fff;
  font-family: inherit;
}

.overlay p {
  font-size: 1.5em;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.blur {
  box-shadow:
    0 0 0 10px hsl(0, 0%, 80%),
    0 0 0 15px rgba(250,38,38,0.4);
}

li {
  list-style-type: none;
}

.center {
  font-family: sans-serif;
  text-align: center;
  margin-top: 400px;
  color: #fff;
}

.submit-button {
  color: black;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.field input {
  color: #333;
}

#error_explanation {
  font-family: lato, sans-serif;
  font-weight: 800;
  color: #AD3333;
  border: 1px solid #AD3333;
  padding-left: 1em;
}
