@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: paytone-one, sans-serif;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

/*****************************/

.overlay {
  width: 400px;
  height: 400px;
  border: 1px solid rgb(191, 145, 190);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: rgba(0,0,0,0.3);
  display: block;
  position: absolute;
  top: 10%;
  left: 60%;
}

.overlay h1 {
  font-size: 3.5em;
  text-align: center;
  padding-top: 100px;
  color: #fff;
  font-family: inherit;
}

.overlay p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  font-family: inherit;
  margin-bottom: 20px;
}
header {
  color: white;
	font-family: 'Special Elite', cursive;
	background-color: black;
	padding-bottom: 20px;
	border-bottom: 2px solid #68838B;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;

}

h4 {
  font-family: 'Special Elite', cursive;
}

li {
  list-style-type: none;
}

.center {
  text-align: center;
  margin-top: 400px;
  color: #fff;
}

video {
  width: 100%    !important;
  height: auto   !important;
}
